
block content
    nav.nav
        ul
            a.link(href='http://localhost:3000')
                div.main-icons 
                    img.icon(src="/homepage-icon.png", alt="simple icon of homepage")
                    p.index-paragraph Homepage
            a.link(href='http://localhost:3000/users')
                div.main-icons 
                    img.icon(src="/users-icon.png", alt="simple icon of users")
                    p.index-paragraph Users 
            a.link(href='http://localhost:3000/schedules')
                div.main-icons
                    img.icon(src="/planner-icon.png", alt="simple icon of planner")
                    p.index-paragraph Schedules 